#game-board {
  position: relative;
  width: 448px;
  height: 576px;
  background-color: #000;
  border: 4px solid #fff;
}

.pacman {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0;
}


.maze {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 2px solid #fff;
}


.food {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.ghost {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f00;
}
